{{define "layout"}}
<!doctype html>
<html lang="zh-Hans">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!-- plyr CSS -->
    <link rel="stylesheet" href="/static/plyr.css" />
    <title>{{.Title}}</title>
    <style>
      /* 播放器按钮 */
      /* .plyr__controls{
        width:100px;
      } */
    </style>
  </head>
  <body>
    
    
    <main role="main" class="container" >
      <div class="my-3 p-3 bg-white rounded shadow-sm ">

        <nav aria-label="breadcrumb" class=" navbar-expand-md navbar-dark ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><strong>HOME</strong></a></li>
            {{$last := .Breadcrumb.Last}}
            {{$path := .Breadcrumb.Path}}
            {{range $k,$v := .Breadcrumb.Breadcrumb}}
            <li class="breadcrumb-item" >{{if lt $k $last }} <a href="{{$v.Url}}"><strong>{{$v.Name}}</strong></a>{{else}}{{$v.Name}}{{end}}</li>
            {{end}}
          </ol>
        </nav>

        <table class="table table-hover table-striped table-bordered">
          <tbody>
            {{range .Urls}}
             <tr>
                 <td style="width: 90%;">
                   {{if .IsDir}}
                   <svg aria-label="directory" class="octicon octicon-file-directory" viewBox="0 0 14 16" version="1.1" width="14" height="16" role="img"><path fill-rule="evenodd" d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path></svg>
                   {{else}}
                   <svg aria-label="file" class="octicon octicon-file" viewBox="0 0 12 16" version="1.1" width="12" height="16" role="img"><path fill-rule="evenodd" d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                   {{end}}
                   &nbsp;&nbsp;
                   <a href="{{.Url}}" {{if not .IsDir}}target="_blank"{{end}}>{{.Name}}</a>
                  </td>
                  <td style="padding:5px;width: 10%;">
                    {{if .IsImage}}
                    <img layer-src="{{$path}}{{.Url}}" src="{{$path}}{{.Url}}" style="max-width:100px;max-height:100px;cursor:pointer;">
                    {{else if eq .Extension ".mp3"}}
                    <bottom class="player btn btn-success" data-url="{{$path}}{{.Url}}" data-type="mp3"> ▶ </bottom>
                    {{else if eq .Extension ".mp4"}}
                    <bottom class="player btn btn-success" data-url="{{$path}}{{.Url}}" data-type="mp4"> ▶ </bottom>
                    {{end}}
                  </audio>
              </td>
             </tr>
             {{end}}
          </tbody>
      </table>

        <small class="d-block text-right mt-3">
          <a href="..">返回上一层目录</a>
        </small>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/jquery.slim.min.js" ></script>
    <script src="/static/popper.min.js" ></script>
    <script src="/static/bootstrap.min.js" ></script>
    <!-- poly media player -->
    <script src="/static/plyr.polyfilled.js"></script>
    <script src="/static/layer/layer.js"></script>

    <script>

      $(".player").on("click",function () {
        let type = $(this).data('type')
        let url = $(this).data('url')
        console.log(type,url)
        let content = ""
        if (type == "mp3") {
          content = "<div class=\"h-100 row align-items-center\"><div class=\"container\"><audio class=\"js-player \" controls ><source src=\""+url+"\" type=\"audio/mp3\" /></div></div>";
        }else if(type == "mp4"){
          content = "<div class=\"h-100 row align-items-center\"><div class=\"container\"><video class=\"js-player \" playsinline controls><source src=\""+url+"\" type=\"video/mp4\"></video></div></div>";
        }
        layer.open({
          type: 1,
          skin: 'layui-layer-rim', //加上边框
          area: ['100%', '100%'], //宽高
          content: content,
          title: '播放器'
        });
        const player = new Plyr(".js-player");
      });

      layer.photos({
        photos: '.table'
        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
      }); 

      
  
    </script>
  </body>
</html>
{{end}}